html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  // height: 76px;
  color: white;
  background: #CE7EC6;
  margin-top: 0px;
  // margin-bottom: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-family: "Merriweather Sans";
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; 
  display: flex;
}

h2 {
  color: #ffff;  
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  font-family: Jomolhari;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0px;
  background: #A66CA1;
  display: flex;
  align-items: center;
}
.gallery-box {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
 background: white;
}